header.container {
    font-size: 45px;
    font-family: monospace;
    color: #edff8a;
    letter-spacing: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 0 25px 0;
    width: 86%;
    -webkit-user-select: none;
    user-select: none;
}
.container > .header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>.header>.line {
    width: 70%;
    height: 0px;
    border: 1px solid #ffd689;
}
.componentProp{
    position: relative;
    margin-left: auto;
    top: -20px;
    height: 0;
}
@media only screen and (max-width:700px){
    header.container{
        font-size: 40px;
        flex-direction: column;
        width: 99%;
    }
    .componentProp{
        margin: 10px 0 0;
        top: 0;
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;

    }
}