header.menuNav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -14px;
    width: 22%;
    min-width: 200px;
    height: 100%;
    background-image: linear-gradient(180deg, #342350,#383870, #8792c0);
    display: block;
    align-items: center;
    border-radius: 18px;
    padding: 10px 0 0 14px;
    transition: 0.7s;

    font-family: 'Anuphan', sans-serif;
    user-select: none ;
    

}
.logoCon>.name {
    font-size: 33px;
    font-weight: bold;
    color: #fdde9b;
    letter-spacing: 1px;
    padding-inline: 10px;
    text-shadow: 4px 4px #434c5a91;
}

.hamburger {
    width: fit-content;
    display: none;
}
.logoCon{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 75px;
    height: 75px;
}
.profileCon{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 150px;
    align-items: center;
}
.profileCon > img{
    position: relative;
    left: -5px;
    top: -25px;
    width: 65%;
    min-width: 150px;
}
.profileCon > .fullname{
    position: relative;
    top: -18px;
    border-radius: 16px;
    padding: 10px 10px;
    font-size: 29px;
    color: #fff6a3;
    text-align:center;
    text-shadow: 1.5px 1.5px #ffffff73;
    transition: 1s;
}
.profileCon > .fullname:hover{
    /* background-image: linear-gradient(90deg,#ffbf8b86,#ffd4b186); */
    color: #d093ff;
    transition: 1s;
    letter-spacing: 1px;
}
nav.navBar{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar>ul {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    padding: 0 0 10px 0;
    display: block;
    width: fit-content;
}

.navBar>ul>li>a {
    text-align: center;
    display: block;
    color: #f7facd;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 13px;
    transition: 0.7s;
    margin: 0 0 20px 0;
    text-decoration: none;
}

.navBar>ul>li>a:hover {
    transform: scale(1.1);
    color: #cbd8f0;
    background-color: #8d866d77;
}

.navBar>ul>li>a.active {
    scale: 1.2;
    color: #203763;
    background-color: #fcff60c4;
}

.navBar.active {
    height: auto;
    transition: 0.8s;
}

.navBar.active ul {
    opacity: 1;
}

@media only screen and (max-width:1350px) {
    header.menuNav {
        width: 20%;
        padding: 10px 0px 0 14px;
        display: flex;
        flex-direction: column;
        
    }
    .logoCon{
        justify-content: center;
    }
    .profileCon > .fullname{
        font-size: 20px;
    }

}

@media only screen and (max-width:1100px) {
    header.menuNav {
        width: 10%;
    }
    .navBar>ul>li>a{
        margin: 20  10px;
        padding: 8px 15px;
    }
    .logoCon>.name{
        font-size: 15px;
    }

}

@media only screen and (max-width:700px) {
    
    header.menuNav {
        background-image: linear-gradient(90deg, #1b1b35,#2d3c57, #586a74);
        width: 100%;
        left: 0;
        top: -14px;
        height: 120px;
        display: flex;
        padding: 0 50px;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .profileCon{
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        transition: 0.5s;
        padding: 2px 4px 2px 4px;
        border-radius: 20%;
        z-index: 101;
    }

    .hamburger:hover {
        background-color: #b4c1d8ec;
        transform: scale(1.3);
        transition: 0.3s;
    }

    .hamburger>.line {
        width: 30px;
        height: 3px;
        background-color: #fff9cc;
        margin: 6px 0;
        border-radius: 7px;
    }
    
    nav.navBar {
        height: 0;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.8s;
        overflow: hidden;
        background-image: linear-gradient(90deg, #1b1b35,#2d3c57, #586a74);
        border-radius: 20px;
        z-index: 10;

    }
    
    .navBar>ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 1.4s;
        opacity: 0;
    }
    
    .navBar ul li a {

        margin-bottom: 12px;
    }
    .logoCon{
        width: 60%;
        flex-direction: row;
    }
    .logoCon>.name{
        padding-inline: 15px;
        font-size: 40px;
        width: 50%;
    }
}

@media only screen and (max-width:470px){
    .logoCon > .name{
        transition: 0.5s;
        font-size: 35px;
    }
    .logoCon > img.logo{
        width: 60px;
        height: 60px;
    }
    header.menuNav{
        justify-content: space-around;
    }
}

@media only screen and (max-width:390px){
    header.menuNav{
        width: 100%;
        padding-inline: 0px;
        justify-content: center;
    }
    .logoCon>.name{
        font-size: 27px;
    }
}
