.toggle {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 60px;
    color: white;
    outline: 0;
    text-decoration: none;
    border-radius: 100px;
    border: 2px solid #546E7A;
    background-image: linear-gradient(90deg,#e8ff64,#099,#80bbff);
    transition: all 500ms;
    cursor: pointer;
  
    color: #ffffff;
    
  
    &:active {
      background-color: #1c2529;
    }
  
    &:hover:not(.toggle--moving) {
      &:after {
        background-color: #455A64;
      }
    }
  
    &:after {
      display: block;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 4px;
      width: calc(50% - 4px);
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      background-color: #37474F;
      border: 2px solid;
      transition: all 500ms;
      content: attr(data-label);
    }
  }
  
  .toggleOn {
    &:after {
      content: 'fi-Ma';
      border-radius: 50px 5px 5px 50px;
      color: #ffc353;
      background-image: linear-gradient(90deg,#e8ff6486,#00999973);
    }
  }
  
  .toggleOff {
    &:after {
      content: 'myPort';
      border-radius: 5px 50px 50px 5px;
      color: #87ff6f;
      transform: translate(100%, 0);
      background-image: linear-gradient(90deg,#00999973,#80bbff79);
    }
  }
  
  .toggle--moving {
    background-color: #1c2529;
    &:after {
      color: transparent;
      border-color: #2e424e; 
      background-color: #2d3b45; 
      transition: color 0.2s, transform 300ms, border-radius 500ms, background-color 500ms;
    }
  }
  .block {
    position: relative;
    margin: 2px auto 0;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    transition: 0.6s;
  }
  .block:hover{
    transition: 0.4s;
    scale: 1.05;
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 40s linear infinite;
    border-radius: 100px;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(90px);
  }