.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Anuphan', sans-serif;
    place-items: center;
    margin-bottom: 40px;
}

main.contents {
    width: 93%;
    border-radius: 20px;
    background-color: #26787700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-items: center;
    height: fit-content;
}
.ActivitiesDisplay{
    width: 100%;
}
.ActivitiesSelector {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ActivitiesSelector>ul {
    padding: 20px 0;
    position: relative;
    margin-bottom: auto;
    border-radius: 0 0 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #15302fde;
    justify-content: center;
    align-items: center;

}

.ActivitiesSelector>ul>li.selector {
    margin: 0 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffbf5f;
    cursor: pointer;
}

.ActivitiesSelector>ul>li.mover {
    border-radius: 10px;
    color: transparent;
    display: block;
    margin: 10px;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;

    background-color: rgba(black, .9);

    transition: all 150ms ease-out;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        background-color: #919191;

        transition: all 150ms ease-out;
    }

    &::before {
        width: 75%;
        height: 25%;
    }

    &::after {
        width: 25%;
        height: 75%;
    }

    &:hover,
    &:focus {
        background-color: rgba(black, .1);

        &::before,
        &::after {
            background-color: #404040;
        }
    }

    &.prev,
    &.next {

        &::before,
        &::after {
            top: 12.5%;
            left: 12.5%;
        }
    }

    &.prev {
        transform: rotate(-45deg);
    }

    &.next {
        transform: rotate(135deg);
    }
}

/* Content */
.contentCon {
    position: relative; /* Needed for pseudo-element positioning */

    /* main element */
    background-image: none;

    border-radius: 20px 20px 0 0;
    padding: 20px 10px;
    transition: 0.4s;

    /* bg img */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(60%);
        z-index: -1;
        
        border-radius: 20px 20px 0 0;
        transition: 0.9s;
    }

}
.NtnuBg {
    &::before{
        background-image: url(https://c4.wallpaperflare.com/wallpaper/487/201/104/taipei-101-taipei-taiwan-wallpaper-preview.jpg);
    }
}
.Debsirin{
    &::before{
        background-image: linear-gradient(90deg,#165e36d7,#dee640d7)
    }
}
.contentCon>.contentTopic{
    font-size: 37px;
    width: 100%;
    color: #8bc5ff;
    font-weight: 600;
    text-align: center;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.content > *{
    border-radius: 10px;
    margin:  10px 1%;
    width: 47%;
}
.picCon{
    margin: 20px 0;
}
.picture{
    object-fit:contain;
    border-radius: 20px;
}

.content> .detail{
    font-size: 20px;
    font-weight: 300 !important;
}
.content> .detail>p{
    text-align: justify;
    text-indent: 4em;
}
span.showText{
    -webkit-user-select: none;
    user-select: none;
    color: #85c4c4;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.4s;
}
span.showText:hover{
    transition: 0.2s;
    color: #2d39a3;
    border-bottom: 1px solid #2d39a3;
}
.link{
    font-size: 25px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
    border-radius: 10px 25px 10px 25px;
    margin: 20px 0;
    color: #eef592;
    background-color: #45817fde;
    -webkit-user-select: none;
    user-select: none;
}
.link > span{
    margin: 0 10px;
    padding: 0 10px;
    font-weight: 600;
    color: #fa8354;
    transition: 0.45s;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.link > span:hover{
    background-color: #4040402f;
    border-bottom: 1px solid #fa8354;
    scale: 1.07;
    transition: 0.3s;
}
@media only screen and (max-width:870px) {
    .content{
        justify-content: center;
    }
    .content > *{
        margin:  10px 1%;
        width: 93%;
    }
    .contentCon>.contentTopic{
        font-size: 29px;
    }
    .contentCon{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

}
@media only screen and (max-width:470px){
    .content > *{
        width: 100%;
    }

}
