.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Anuphan', sans-serif;
    place-items: center;
}

main.contents {
    width: 93%;
    border-radius: 20px;
    background-color: #50198f8c;
    padding: 15px 20px 40px 20px;
    display: flex;
}

main.additionContent {
    margin-top: 15px;
    display: block;
    background-color: #803fca5d;
}

main.additionContent>.Topic {
    position: relative;
    left: 5%;
    width: 30%;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.name {
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.name>ul {
    display: flex;
    flex-direction: column;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-bottom: 1px solid #ebffa3;
    padding: 0 0 5px 0;
    margin: 0 15px 10px 0;
    justify-content: start;
}

.name>ul.info {
    font-weight: 500;
    font-size: 31px;
    width: 45%;
}

.name>ul.detail {
    width: 25%;
}

ul.grade {
    display: flex;
    flex-wrap: wrap;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-bottom: 1px solid #ebffa3;
    padding: 0 0 5px 0;
    margin: 0 20px 10px 0;
    justify-content: start;
    align-items: center;

}

ul.grade>li {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 5px;
    transition: 0.8s;
    display: flex;
}

ul.grade>li:hover {
    transition: 0.7s;
    scale: 1.01;
}

.aa1 {
    width: 70%;
}


.name>ul>li {
    padding-bottom: 5px;
    transition: 0.8s;
    display: flex;
}

.name>ul>li:hover {
    transition: 0.7s;
    scale: 1.01;
}

ul>li.listTopic {
    width: 100% !important;
    font-size: 29px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    letter-spacing: 2px;
}

div.listTopic {
    font-size: 29px;
}

div.hobby {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ebffa3;
}

div.hobby>ul.hobby {
    width: 68%;
}

ul.hobby>li.podcasts {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

ul.song {
    display: flex;
    flex-direction: column;
    width: 30%;
}

ul.song>li.playlist {
    margin-top: 10px;
    width: 100%;
}

.TextCon {
    padding-inline: 20px;
}

.TextCon>.TextLabel {
    font-size: 22px;
    color: #c9bee7d0;
    -webkit-user-select: none;
    user-select: none;
}

.TextCon>.TextChild {
    padding-left: 10px;
    color: #fff9a8;
    -webkit-user-select: text;
    user-select: text;

}

.picCon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: -moz-fit-content;
    height: fit-content;
    margin-inline: 5%;
    margin-bottom: 10px;

}

@media only screen and (max-width:700px) {
    main.additionContent>.Topic {
        width: 60%;
    }

    .name>.picCon,
    .name>ul.detail,
    .aa1 {
        width: 100%;
    }

    .name>ul {
        width: 100%;
    }

    div.hobby {
        flex-direction: column;
    }

    div.hobby>ul.hobby,
    ul.song {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    ul.song>li.playlist {
        width: 90%;
    }
}