.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Anuphan', sans-serif;
    place-items: center;
}

main.contents {
    width: 93%;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #197d8f80, #fffc4663);
    padding: 15px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
    align-items: center;
}


.projectContainer {
    width: 92%;
}